* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slider {
    height: 200px;
    width: 500px;
    border: 2px solid black;
    overflow: hidden;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.buttons {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: none;
}

.btn {
    cursor: pointer;
    margin-top: 7px;
    font-size: 1.3rem;
    font-family: sans-serif;
}

